.sneaker-company {
    color: rgb(245, 164, 88);
    /* text-decoration: wavy; */
   } 
   .product-content{
      text-align:center;
   }
  .Add-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: auto;
  
  }
  .discount {
    margin: 5%;
  }
  .addCart {
    padding: 3%;
    height: auto;
  
  }
  .product-text {
    text-align: justify;
    width:70%;
    margin:auto;
  }
  .icon-minus {
    width: 9vw;
    border: 2px solid rgb(253, 169, 112);
    padding: 10%;
  }
  .icon-plus {
    width: 9vw;
    border: 2px solid rgb(238, 159, 106);
    padding: 10%;
  }
  